<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

    <listeners>
        <listener class-name="RunnerClass.FailureListener"/>
    </listeners>

    <test name="TC_Job_Creation1">
        <classes>
            <class name="RunnerClass.TC_CombinedSanityCasesWithoutMinimize"/>
        </classes>
    </test>

</suite>